---
name: Build interu

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      target:
        required: true
        type: string
      upload:
        default: false
        type: boolean

env:
  RUST_VERSION: 1.83.0

jobs:
  build:
    name: Build interu-${{ inputs.target }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: ${{ env.RUST_VERSION }}
          targets: ${{ inputs.target }}

      - name: Build Binary
        env:
          TARGET: ${{ inputs.target }}
        run: cargo build --target "$TARGET" --release --package interu

      - name: Rename Binary
        env:
          TARGET: ${{ inputs.target }}
        run: mv "target/$TARGET/release/interu" "interu-$TARGET"

      - name: Upload Artifact
        if: inputs.upload
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: interu-${{ inputs.target }}
