---
name: Build interu

on:
  pull_request:
    paths:
      - .github/workflows/release_interu.yml
      - .github/workflows/build_interu.yml
      - .github/workflows/pr_interu.yml
      - rust-toolchain.toml
      - tools/interu/**
      - Cargo.toml

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build_interu.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
