---
name: Release interu

on:
  push:
    tags:
      - "interu-[0-9]+.[0-9]+.[0-9]+**"

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build_interu.yml
    with:
      upload: true
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
  release:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts

      - name: Upload Release Binary
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: artifacts/artifact/*
