---
name: smoke-build

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/smoke-build.yaml
      - build-container-image/action.yaml
      - build-product-image/action.yaml
      - free-disk-space/action.yaml
      - publish-image/action.yaml
      - publish-index-manifest/action.yaml
      - send-slack-notification/action.yaml
      - shard/action.yaml
      - smoke/*

jobs:
  generate-matrix:
    name: Generate Version List
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: shard
        uses: ./shard
        with:
          product-name: smoke/container-image
    outputs:
      versions: ${{ steps.shard.outputs.versions }}

  build-container-image:
    name: Build/Publish Smoke Test (${{ matrix.versions }}-${{ matrix.runner.arch }}) Image
    needs: [generate-matrix]
    permissions:
      id-token: write
    runs-on: ${{ matrix.runner.name }}
    strategy:
      matrix:
        runner:
          # Github's ubuntu-latest runners use 24.04. By default Ubicloud's runners use 22.04.
          # We therefore explicitly request 24.04 for them as well.
          - { name: "ubuntu-latest", arch: "amd64" }
          - { name: "ubicloud-standard-8-arm-ubuntu-2404", arch: "arm64" }
        versions: ${{ fromJson(needs.generate-matrix.outputs.versions) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Free Disk Space
        uses: ./free-disk-space

      - name: Build Product Container Image
        id: build
        uses: ./build-product-image
        with:
          product-version: ${{ matrix.versions }}
          boil-config-file: smoke/container-image/boil.toml
          boil-version: latest
          registry-namespace: stackable
          extra-tag-data: pr-321
          product-name: smoke/container-image

      - name: Publish Container Image on oci.stackable.tech
        uses: ./publish-image
        with:
          image-registry-uri: oci.stackable.tech
          image-registry-username: robot$stackable+github-action-build
          image-registry-password: ${{ secrets.HARBOR_ROBOT_STACKABLE_GITHUB_ACTION_BUILD_SECRET }}
          image-repository: stackable/smoke
          image-manifest-tag: ${{ steps.build.outputs.image-manifest-tag }}
          source-image-uri: localhost/stackable/smoke/container-image:${{ steps.build.outputs.image-manifest-tag }}

  publish-manifests:
    name: Build/Publish ${{ matrix.versions }} Index Manifest
    needs: [generate-matrix, build-container-image]
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: ${{ fromJson(needs.generate-matrix.outputs.versions) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Publish and Sign Image Index Manifest to oci.stackable.tech
        uses: ./publish-image-index-manifest
        with:
          image-registry-uri: oci.stackable.tech
          image-registry-username: robot$stackable+github-action-build
          image-registry-password: ${{ secrets.HARBOR_ROBOT_STACKABLE_GITHUB_ACTION_BUILD_SECRET }}
          image-repository: stackable/smoke
          image-index-manifest-tag: ${{ matrix.versions }}-stackable0.0.0-dev

  publish-helm-chart:
    name: Package/Publish ${{ matrix.versions }} Helm Chart
    needs: [generate-matrix, build-container-image]
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: ${{ fromJson(needs.generate-matrix.outputs.versions) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive

      - name: Package, Publish, and Sign Helm Chart
        uses: ./publish-helm-chart
        with:
          chart-registry-uri: oci.stackable.tech
          chart-registry-username: robot$sdp+github-action-build
          chart-registry-password: ${{ secrets.HARBOR_ROBOT_SMOKE_GITHUB_ACTION_BUILD_SECRET }}
          chart-repository: smoke/helm-chart
          chart-directory: smoke/helm-chart
          chart-version: ${{ matrix.versions }}
          app-version: ${{ matrix.versions }}

  # notify:
  #   name: Failure Notification
  #   needs: [generate-matrix, build-container-image, publish-manifests]
  #   runs-on: ubuntu-latest
  #   if: failure() || github.run_attempt > 1
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
  #       with:
  #         persist-credentials: false

  #     - name: Send Notification
  #       uses: ./send-slack-notification
  #       with:
  #         publish-manifests-result: ${{ needs.publish-manifests.result }}
  #         build-result: ${{ needs.build-container-image.result }}
  #         slack-token: ${{ secrets.SLACK_CONTAINER_IMAGE_TOKEN }}
  #         channel-id: C07UG6JH44F # notifications-container-images
  #         type: container-image-build
